body {
  margin: 0 0;
}

h1 {
  margin: 0 0;
}

input {
  outline: 0 solid transparent;
  border-radius: 0;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus {
  outline: 0 solid transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"] {
  height: 0;
  width: 0;
}

textarea {
  outline: 0 solid transparent;
}

button {
  border: none;
  padding: 0 0;
  outline: 0 solid transparent;
  cursor: pointer;
  border-radius: 0;
}

select {
  outline: 0 solid transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: 0 solid transparent;
}